body{
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(231, 231, 0); */
    background-image: url(./img/jene-stephaniuk-wotMaQFmlBM-unsplash.jpg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  padding: 10px 20px 20px;
  border-radius: 15px;
  background-image: url(./img/img9.avif);
  background-size: cover;
  object-fit: cover;
  box-shadow: inset 5px 5px 5px rgb(6 6 6 / 50%), 5px 5px 15px rgb(0 0 0 / 30%), 10px 10px 2px rgb(22 22 22 / 20%), inset -5px -5px 10px rgb(0 0 0 / 70%);
}

.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: none;
    
}
  
.button-calc {
  background: #beffdd;
  border-radius: 8% 53% 7% 63% / 51% 53% 47% 49%;
  border: none;
  margin: 10px;
  height: 50px;
  width: 50px;
  color: #504e4a;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  box-shadow: inset 10px 10px 10px rgb(84 98 85 / 50%), 15px 25px 10px rgb(0 0 0 / 10%), 15px 20px 2px rgb(0 0 0 / 5%), inset -10px -10px 15px rgb(40 228 9 / 90%);
}

.button-calc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #9cff38b7;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-in-out;
}

.button-calc:hover::before {
  transform: translate(-50%, -50%) scale(1);
  width: 100px;
  height: 100px;
}

.button-calc:active {
  background-color: rgba(2, 40, 61, 0.8);
  transform: scale(0.99);
}

.number-dis {
  outline: none;
  pointer-events: none;
  height: 80px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 25px;
  background-color:rgb(176 251 191);
  box-shadow: inset 10px 10px 10px rgb(0 0 0 / 61%);
  color: rgb(21, 21, 21);
  border-radius: 10px;
  border: none;
}

.opera {
  color: rgb(0 0 0);
  background-color:  rgb(247 224 114);
}